.container {
  width: 80%;
  /* padding-left: 10px; */
}
.change-status:hover {
  font-weight: 600;
  cursor: pointer;
  color: rgb(254, 254, 254) !important;
  background-color: rgb(89, 89, 89) !important;
}
.status:hover {
  cursor: pointer;
  color: red;
}
.new_cat_label {
  align-self: center;
  padding-right: 20px;
  font-size: larger;
  font-weight: 600;
}
