.product-image {
  padding: 10px;
  max-width: 300px;
  max-height: 300px;
}
.image-container {
  width: 80%;
  margin-left: 150px;
  background-color: rgb(219, 219, 219);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.delete {
  position: absolute;
  /* bottom: 0;
  left: 0; */
  top: -120px;
  right: 20px;
}
.delete:hover {
  color: red;
  cursor: pointer;
}
.size-container {
  width: 80%;
  margin-left: 150px;
  background-color: rgb(249, 249, 249);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
