.btn_dat_hang {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_dat_hang:hover {
  background-color: aliceblue;
  border: 2px solid rgb(0, 0, 0);
  color: black;
  cursor: pointer;
}
.avatar {
  /* max-height: 300px; */
  max-width: 300px;
}
.update-success {
  color: rgb(3, 238, 3) !important;
  font-weight: 600;
}
